<h1>Listing account_users</h1>

<table>
  <tr>
    <th>Account</th>
    <th>User</th>
    <th>Permissions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @account_users.each do |account_user| %>
  <tr>
    <td><%= account_user.account %></td>
    <td><%= account_user.user %></td>
    <td><%= account_user.permissions %></td>
    <td><%= link_to 'Show', account_user %></td>
    <td><%= link_to 'Edit', edit_account_user_path(account_user) %></td>
    <td><%= link_to 'Destroy', account_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account user', new_account_user_path %>
