<% @menu_hide = true %>

<% content_for :title do %>
    <title>Login</title>
<% end %>

<% content_for :foot do %>
    <script> var flashFrameAlways = true; </script>
<% end %>


<h1 class='orange'>Member Login</h1>
<div class="column no-padding medium-8 large-5 end">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {}) do |f| %>

      <%= devise_error_messages! %>

      <div>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>


      <% if devise_mapping.rememberable? -%>
          <div>
            <%= f.check_box :remember_me, :checked => true %>
            <%= f.label :remember_me, :style => 'float: none;' %>
          </div>
      <% end -%>

      <div class="spacer"></div>
      <div class="spacer"></div>


      <div><%= f.submit "Sign in", :class => "button small secondary" %></div>

  <% end %>

  <%= render "devise/shared/links" %>
</div>
