
<br>
<br>



<p style="margin: 4rem 0 0 0;">

    <span style="margin: 0 0 0 0; font-family:Arial,sans-serif; font-size:10pt; color:#646464">
      Accounts and Membership
      <br>

      <img alt="clearbox studios" border="0" width="180" src="<%= AWS_CDN_PUBLIC_URL + "/branding/logo_full.png" %>" />

      <br>
      <a href="http://www.clearboxstudios.com/">http://www.clearboxstudios.com</a>
      <br>
      <a href="mailto:<%= CORPORATE_LOGINS[:gmail_accounts][:username] %>"><%= CORPORATE_LOGINS[:gmail_accounts][:username] %></a>
      <br>
      Phone: <%= CORPORATE_PHONE_WORK %> &nbsp;&nbsp;&nbsp;
    </span>

</p>


<br>

<p style='margin: 0 0 100px 0;'>
    <%= link_to '[facebook]', 'http://www.facebook.com/clearboxstudios' %>
    &nbsp;&nbsp;
    <%= link_to '[twitter]', 'http://www.twitter.com/clearboxstudios' %>
    &nbsp;&nbsp;
    <%= link_to '[linkedIn]', 'http://www.linkedin.com/company/clearbox-studios' %>
    &nbsp;&nbsp;
    <%= link_to '[vimeo]', 'http://www.vimeo.com/clearboxstudios' %>
    &nbsp;&nbsp;
    <%= link_to '[youTube]', 'http://www.youtube.com/clearboxstudios' %>

</p>

