<!--  Media Files information -->
<!--------------------------------------------->
<div class='floating-container' style='margin-top:4em;font-size:75%;width:90%'>
    <label>MEDIA FILES</label>

    <div id="container" class="toolbar">
        <a id='pickfiles' href="#"><i class="icon-clapboard-closed"></i> add videos</a>
    </div>

    <div class='floating-container' style='clear:left; margin-top: 4px; border: 1px solid rgb(200,200,200); width:97%; max-height:25em; padding: 1em; overflow-y: auto;'>

        <% @media_by_group.each do |project_id, mediafiles| %>
        <table id="table_mediafiles">
            <thead>
            <tr>
                <td style="width:25%;">Filename</td>
                <td style="width:10%;">Type</td>
                <td style="width:10%;">Size</td>
                <td style="width:10%;">Last Modified</td>
            </tr>
            </thead>

            <tbody>
            <% for mediafile in mediafiles %>
            <tr>
                <td>
                    <%= link_to mediafile.url_for(:read, :secure => true, :expires => 90.minutes).to_s, :class => "underlined-hoverlinks list-item-content" do %>
                    <%= mediafile.key.split("/").last %>
                    <% end %>
                </td>

                <td>
                    <span class='list-item-content-details'><%= mediafile.content_type.split("/").last %></span>
                </td>

                <td>
                    <span class='list-item-content-details'><%= number_to_human_size(mediafile.content_length) %></span>
                </td>

                <td>
                    <span class='list-item-content-details'><%= mediafile.last_modified.strftime('%_m/%-d/%Y %l:%M %p') %></span>
                </td>
            </tr>
            <% end %>
            </tbody>
        </table>
        <% end %>

    </div>
</div>